<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="900px">
        <form class="mt-60" #clientForm="ngForm" (ngSubmit)="Salvar(clientForm)">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Dados Pessoais</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-20">
                    <div fxlayout="row" fxlayoutalign="start" fxlayoutgap="16px">
                        <div fxLayout="column" fxFlex="700px">
                            <mat-form-field class="full-width">
                                <mat-label>Nome</mat-label>
                                <input
                                    type="text"
                                    [(ngModel)]="cliente.nome"
                                    matInput
                                    required
                                    name="nome"
                                    placeholder="Digite seu nome"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxlayout="row" fxlayoutalign="start" fxlayoutgap="16px">
                        <div fxLayout="column" fxFlex="700px">
                            <mat-form-field class="full-width">
                                <mat-label>Email</mat-label>
                                <input
                                    type="email"
                                    [(ngModel)]="cliente.email"
                                    matInput
                                    required
                                    name="email"
                                    placeholder="Digite seu email"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxlayout="row" fxlayoutalign="start" fxlayoutgap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>CPF</mat-label>
                                <input
                                    type="text"
                                    mask="000.000.000-00"
                                    [(ngModel)]="cliente.cpf"
                                    matInput
                                    required
                                    name="cpf"
                                    placeholder="Digite seu CPF"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxlayout="row" fxlayoutalign="start" fxlayoutgap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>Data de Nascimento</mat-label>
                                <input
                                    type="text"
                                    placeholder="DD/MM/AAAA"
                                    mask="00/00/0000"
                                    [(ngModel)]="cliente.dataNascimento"
                                    matInput
                                    required
                                    name="dataNascimento"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxlayout="row" fxlayoutalign="start" fxlayoutgap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>UF</mat-label>
                                <mat-select
                                    [(value)]="cliente.estado"
                                    (selectionChange)="carregarMunicipios($event)"
                                    required
                                >
                                    <mat-option *ngFor="let estado of ufs" [value]="estado.sigla">
                                        {{ estado.nome }} ({{ estado.sigla }})
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxlayout="row" fxlayoutalign="start" fxlayoutgap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>Municipio</mat-label>
                                <mat-select [(value)]="cliente.municipio" required>
                                    <mat-option
                                        *ngFor="let municipio of municipios"
                                        [value]="municipio.nome"
                                    >
                                        {{ municipio.nome }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-card-actions>
                        @if(cliente.id) {
                        <button class="ml-10" mat-flat-button color="primary" type="submit">
                            <mat-icon>refresh</mat-icon>
                            Atualizar
                        </button>
                        }@else{
                        <button class="ml-10" mat-flat-button color="primary" type="submit">
                            <mat-icon>add_task</mat-icon>
                            Salvar
                        </button>
                        }
                        <button
                            type="button"
                            (click)="Limpar()"
                            class="ml-10"
                            mat-flat-button
                            color="accent"
                        >
                            <mat-icon>backspace</mat-icon>
                            Limpar
                        </button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>
