*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgb(253, 252, 252);
  width: 90%;
  max-width: 600px;
}

.h2{
  font-size: 24px;
  margin-bottom: 20px;
  color: #4b4949;

}

.add-item-form{
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.add-item-form input[type="text"]{
  flex: 1;
  padding: 10px;
  border: 2px solid #0b0ebe;
  border-radius: 12px;
  margin-right: 10px;
  font-size: 16px;
}

button{
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  background-color: #f50606;
  color: rgb(20, 238, 104);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover{
  background-color: #3a3838;
}


input[type="text"]:hover{
  background-color: #3a3838;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table th, table td{
  border: 2px solid #0b0ebe;
  padding: 12px 15px;
  text-align: left;
}

table th{
  background-color: #f50606;
  color: rgb(20, 238, 104);
}

thead{
  background-color: #f50606;
  color: rgb(20, 238, 104);
  border-radius: 12px;
}

tr:nth-child(even) {
  background-color: #35b329;
}

input[type="checkbox"] {
  accent-color: #f50606;
  cursor: pointer;
  transform: scale(1.2);
  width: 50px;
  height: 50px;
}

.item-riscado {
  text-decoration: line-through;
  color: #ccc;
}

.limpar {
  background-color: #f50606;
  color: rgb(20, 238, 104);
  margin: 0 10px;
}
